@charset "utf-8";

* { box-sizing : border-box; }

body
{
	background-color: #FFF1E6;
	width: 70%;
	margin: 0px auto;
}

header img
{
	width: 100%;
	height: 280px;
}

nav
{
	margin: 20px 0px;
	background-color: #EEECE8;
	border-radius: 20px;
	display: flex;
	justify-content: center;
}

ul li
{
	display: inline-block;
	height: 75px;
	width: 177px;
}

ul
{
	list-style: none;
	display: block;
	margin: 0px;
	padding: 0px;
	font-size: 0px;
}

ul li a
{
	text-decoration: none;
	color: #834F34;
	font-size: 20px;
	line-height: 75px;
	width: 177px;
	font-weight: bold;
	display: inline-block;
	border-radius: 20px;
	text-align: center
	
}

ul li a:hover,a:active
{
	background-color: #B9B4A2;
}

section
{
	background-color: #EEECE8;
	margin: 25px 0px;
	border-radius: 20px;
	padding: 20px 20px;
}

section a
{
	text-decoration: none;
	color: #AF6B46;
}

section a:hover,a:active
{
	color: #834F34;
	font-weight: bold;
}

section h1
{
	color: #834F34;
	font-size: 30px;
	margin: 10px 0px;
}

section p
{
	color: #AF6B46;
	font-size: 20px;
}

ol li
{
	color: #AF6B46;
	font-size: 20px;
}

footer
{
	text-align: center;
}

footer p
{
	margin: 30px 0px;
}

