@charset "utf-8";

* { box-sizing : border-box; }

.Introduce_photo
{
	width: calc(20% - 10px);
	display: inline-block;
	margin: 0px 50px;
}

.Introduce_patergraph
{
	vertical-align: top;
	width: calc(70% - 10px);
	display: inline-block;
	margin-top: 0px;
}